/* -----------
  universal css
  ------------- */

* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* ----------
   google font
   ----------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@400;500;600;700&display=swap");

/* ----------
   header css 
   ---------- */

.header {
  width: 100%;
  background: rgba(255, 144, 14, 0.1);
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 50px 50px;
  align-items: center;
}

.text-logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}

.text-logo a:hover {
  color: orange;
  transition: 0.2s;
}

.nav ul {
  display: flex;
  gap: 18px;
}

.nav ul li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #424242;
}

.nav a:hover {
  color: orange;
  transition: 0.2s;
}

.banner-title {
  font-weight: 700;
  font-size: 64px;

  text-align: center;
  color: #131313;
}

.banner-details p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #727272;
  margin-top: 53px;
  margin-bottom: 53px;
}

.btn {
  text-align: center;
}

.btn-explore {
  background: #ff900e;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  width: 180px;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
}

.banner-img {
  padding: 45px 0px;
  width: 1820;
  display: flex;
  justify-content: center;
}

/* --------------
feature styles
----------------- */

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 85px 200px;
  margin-bottom: 100px;
  margin-top: 80px;
}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.feature-img img {
  width: 300px;
  height: 300px;
}

.feature-details {
  padding-top: 170px;
  padding-left: 45px;
}

.feature-details h3 {
  font-weight: 500;
  font-size: 45px;
  color: #727272;
  margin-bottom: 20px;
}

.feature-details .bold-text {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
}
.feature-details .orange-text {
  font-weight: 700;
  font-size: 45px;
  color: #ff900e;
  margin-top: 30px;
}

.feature-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 35px;
}

/* --------------------
 feature love styles
----------------------- */

.feature-love {
 
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;
  gap: 50px;
}

.feature-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #131313;
  padding-left: 21px;
  border-left: 5px solid #ff900e;
  margin-bottom: 24px;
}

.feature-love-details {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.feature-box {
  margin: 30px 0 30px 0;

  padding: 15px;
  border-radius: 10px;

  box-shadow: -7px 4px 43px -25px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: -7px 4px 43px -25px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: -7px 4px 43px -25px rgba(0, 0, 0, 0.79);
}
.feature-box h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #131313;
}
.feature-box p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  padding-right: 70px;
}
 

.feature-love-img img {
  width: 630px;
  height: 820px;
}

.btn-feature {
  width: 260px;
  height: 130px;
  padding: 45px;
  margin-left: -25px;
  margin-top: -80px;
}

.btn-feature h3 {
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #ffffff;
}

.btn-feature p {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}


/* -------------
   fact styles
   ------------- */

.fact{
  margin-top: 150px;
  margin-left: 100px;
  
}

.fact h2{
  font-weight: 700;
font-size: 45px;
color: #131313;
}

.fact h5{
  font-weight: 400;
  font-size: 16px; 
  color: #727272;
  margin-top: 24px;
  line-height: 25px;
  margin-bottom: 100px;
}

.fact-details{
display: flex;
justify-content: space-around;
padding: 0 100px 0 0;
}

.fact-box{
 
  border: 1px solid #FF900E;
  border-radius: 8px;
  text-align: center;
  padding: 45px 59px;
}

.fact-box img{
  width: 45px;
height: 45px;
}
.fact-details h4{
  font-weight: 600;
font-size: 45px;
text-align: center;
color: #424242;
margin-top: 10px;
margin-bottom: 5px;
}

.fact-box p{
font-weight: 600;
font-size: 20px;
color: #727272;
}

/* -----------
 Sponsor style
 ------------- */

 .sponsor{
  margin-top: 150px;
 }
 .sponsor h2{
  text-align: center;
  font-weight: 700;
font-size: 45px;
color: #131313;
 }
 .sponsor p{
  text-align: center;
  font-weight: 400;
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
margin-top: 24px;
 }

 .sponsors-logo{
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  justify-content: space-around;
 }

 .sponsor-logo img{
  mix-blend-mode: luminosity;
 }

 /* ---------
    footer style
    ----------- */

    .footer{
      font-weight: 400;
font-size: 20px;
text-align: center;
color: #424242;
margin-top: 150px;
margin-bottom: 150px;
background: #FFF4E7;
border-radius: 8px;
height: 100px;
align-items: center;
margin-left: 60px;
margin-right: 60px;
padding-top: 75px;
    }